/* Reset of Pattern styles in browser */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    background-color: #F4D27E;
    
}

img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: MontserratMedium;
    src: url(./assets/fonts/Montserrat/static/Montserrat-Medium.ttf)
}

.background {
    display: flex;
    width: 100vw;  /*Adding width with the size of the person's screen*/
    flex-direction: column; /*Adding items as column*/
    justify-content: center;

}

/*Use justify-content for horizontal position in flexbox*/

.containerBackground {
    display: flex;
    align-items: center;
    justify-content: center;     
    position: relative;

}

.logoForFirstPage {
    position: absolute;
    width: 40rem;
    top: 30%;
}

.firstBackgroundButtons {
    position: absolute;
    display: flex;
    flex-direction: row;
    color: #A00CE8;
    top: 1rem; 
    right: 3.5rem;
    font-size: 2.7rem;
    font-family: MontserratMedium;
    gap: 60px;

}

/*Applying a descendant for firstBackgroundButtons*/

.firstBackgroundButtons a {
    border-radius: 15px;      /*Adding border-radius to make button container circular*/
    border: 4px solid #A00CE8;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

}

/*Second Background*/

.containerTitle {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 12%;
    
}

@font-face {
    font-family: MuseoModernoLight;
    src: url(./assets/fonts/MuseoModerno/static/MuseoModerno-ExtraLight.ttf);
}
.containerTitle h2 {
    font-family: MuseoModernoLight;
    color: #A00CE8;
    font-size: 5rem;
}

.containerTitle img {
    width: 18%;
}

.containerContentSecond {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 180px;
    top: 35%;


}

.containerSon {
    display: flex;
    flex-direction:column;
    width: 20%;
    align-items: center;
   

}

@font-face {
    font-family: MontserratLight ;
    src: url(./assets/fonts/Montserrat/static/Montserrat-Light.ttf);
}

.containerSon h3{
    font-family: MontserratLight;
    color: #A00CE8;
    font-size: 2rem;
}

@font-face {
    font-family: MontserratRegular ;
    src: url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
.containerSon p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: MontserratRegular;
}


.containerDev {
    display: flex;
    flex-direction:column;
    width: 20%;
    align-items: center;
    gap: 10%;

}


.containerDev h3{
    font-family: MontserratLight;
    color: #A00CE8;
    font-size: 2rem;
}


.containerDev p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: MontserratRegular;
}